In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
data = pd.read_csv(os.path.join('test.csv'))
data.head()

,Date,Start (ET),Team,Home?,PTS,W/L,W/L Binary,v_G,v_MP,v_FG,...,h_TRB,h_AST,h_STL,h_BLK,h_TOV,h_PF,h_PTS,OT,Attend.,Notes
0,Wed Oct 18 2017,7:00p,Philadelphia 76ers,0,87,L,0,82,241.2,40.8,...,42.1,23.4,7.1,3.8,13.7,18.6,110.9,NaN,20356,NaN
1,Tue Oct 17 2017,8:01p,Boston Celtics,1,105,W,1,82,241.2,40.8,...,42.1,23.4,7.1,3.8,13.7,18.6,110.9,NaN,20562,NaN

In [3]:
df = data.drop(["Date", "Start (ET)", "Team", "W/L", "OT", "Attend.", "Notes"], axis=1)
df

,Home?,PTS,W/L Binary,v_G,v_MP,v_FG,v_FGA,v_FG%,v_3P,v_3PA,...,h_FT%,h_ORB,h_DRB,h_TRB,h_AST,h_STL,h_BLK,h_TOV,h_PF,h_PTS
0,0,87,0,82,241.2,40.8,86.6,0.472,11,29.8,...,0.779,8.5,33.7,42.1,23.4,7.1,3.8,13.7,18.6,110.9
1,1,105,1,82,241.2,40.8,86.6,0.472,11,29.8,...,0.779,8.5,33.7,42.1,23.4,7.1,3.8,13.7,18.6,110.9

In [4]:
X = df.drop("W/L Binary", axis=1)
print(X.shape)

(2, 48)

In [9]:
from sklearn.externals import joblib
X_scaler = joblib.load("scaler.save")
X_scaled = X_scaler.transform(X)

In [10]:
from keras.models import load_model
voice_model = load_model("voice_model_trained.h5")

C:\Users\ryanw\Anaconda3\envs\pythondata\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [13]:
print(f"Predicted class: {voice_model.predict_classes(X_scaled)}")

Predicted class: [0 1]