In [1]:
import pickle
import pandas as pd

In [2]:
playoff_1314 = pd.read_csv('Plus_Minus_1314.csv')
playoff_1314.drop(playoff_1314.columns[0], axis=1, inplace=True)
playoff_1314.head()

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,ATL,BKN,2.475610,-0.109756,-0.184146,2.856098,-0.097561,1.926829,1.829268,3.987805,0.182927,0.731707,-2.439024
1,BKN,BOS,2.280488,2.262195,3.446341,-3.101220,-3.158537,-1.195122,-4.353659,-0.146341,-0.390244,-0.853659,0.414634
2,BOS,CHA,-0.609756,-0.641463,-2.241463,4.656098,2.487805,-2.670732,-0.182927,-0.634146,-0.951220,3.060976,3.048780
3,CHA,CHI,3.195122,1.013415,0.298780,-4.226829,-1.963415,0.500000,-1.463415,-1.000000,-0.036585,-2.597561,-0.878049
4,CHI,CLE,-4.560976,-0.450000,-0.817073,3.162195,-0.634146,0.658537,0.024390,1.487805,1.463415,0.731707,-0.914634

In [3]:
spurs_mavs_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'SAS') & (playoff_1314['AWAY'] == 'DAL')]
spurs_mavs_rd1

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
821,SAS,DAL,0.512195,1.260976,1.529268,-0.819512,-0.95122,3.317073,2.365854,1.573171,0.780488,0.853659,-1.719512

In [4]:
filename = 'NBA_Prediction.sav'

loaded_model = pickle.load(open(filename, 'rb'))

In [5]:
hou_por_1 = playoff_1314.loc[(playoff_1314['HOME'] == 'HOU') & (playoff_1314['AWAY'] == 'POR')]
hou_por_1

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
309,HOU,POR,0.926829,2.332927,-1.406098,-10.131707,-1.243902,0.134146,-1.109756,-1.817073,0.902439,2.414634,1.219512

In [6]:
lac_gsw_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'LAC') & (playoff_1314['AWAY'] == 'GSW')]
okc_mem_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'OKC') & (playoff_1314['AWAY'] == 'MEM')]
sas_por_rd2 = playoff_1314.loc[(playoff_1314['HOME'] == 'SAS') & (playoff_1314['AWAY'] == 'POR')]
lac_okc_rd2 = playoff_1314.loc[(playoff_1314['HOME'] == 'LAC') & (playoff_1314['AWAY'] == 'OKC')]
sas_okc_rd3 = playoff_1314.loc[(playoff_1314['HOME'] == 'SAS') & (playoff_1314['AWAY'] == 'OKC')]
ind_atl_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'IND') & (playoff_1314['AWAY'] == 'ATL')]
chi_was_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'CHI') & (playoff_1314['AWAY'] == 'WAS')]
tor_bkn_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'TOR') & (playoff_1314['AWAY'] == 'BKN')]
mia_cha_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'MIA') & (playoff_1314['AWAY'] == 'CHA')]
ind_was_rd2 = playoff_1314.loc[(playoff_1314['HOME'] == 'IND') & (playoff_1314['AWAY'] == 'WAS')]
mia_bkn_rd2 = playoff_1314.loc[(playoff_1314['HOME'] == 'MIA') & (playoff_1314['AWAY'] == 'BKN')]
mia_ind_rd3 = playoff_1314.loc[(playoff_1314['HOME'] == 'MIA') & (playoff_1314['AWAY'] == 'IND')]
sas_mia_rd4 = playoff_1314.loc[(playoff_1314['HOME'] == 'SAS') & (playoff_1314['AWAY'] == 'MIA')]

predict_1314 = pd.concat([spurs_mavs_rd1, hou_por_1, lac_gsw_rd1, okc_mem_rd1, sas_por_rd2,
                          lac_okc_rd2, sas_okc_rd3, ind_atl_rd1, chi_was_rd1, tor_bkn_rd1,
                          mia_cha_rd1, ind_was_rd2, mia_bkn_rd2, mia_ind_rd3, sas_mia_rd4],
                        axis=0, sort=True)

predict_1314 = predict_1314[['HOME', 'AWAY', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK', 'TOV', 'PF']]
predict_1314

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
821,SAS,DAL,0.512195,1.260976,1.529268,-0.819512,-0.951220,3.317073,2.365854,1.573171,0.780488,0.853659,-1.719512
309,HOU,POR,0.926829,2.332927,-1.406098,-10.131707,-1.243902,0.134146,-1.109756,-1.817073,0.902439,2.414634,1.219512
501,LAC,GSW,3.670732,1.304878,-2.779268,-2.448780,-0.463415,-1.841463,-2.304878,1.268293,-0.121951,-1.353659,-0.207317
584,OKC,MEM,10.012195,0.695122,1.252439,6.776829,-0.768293,3.109756,2.341463,0.024390,1.536585,1.609756,3.536585
488,SAS,POR,-1.390244,3.714634,2.643902,-3.458537,-3.170732,-0.000000,-3.170732,1.951220,0.402439,0.670732,-0.987805
194,LAC,OKC,1.768293,0.310976,-1.318293,-7.254878,-0.353659,-1.378049,-1.731707,2.707317,-1.268293,-1.463415,-1.109756
590,SAS,OKC,-0.804878,1.509756,3.265854,-2.347561,-1.524390,0.060976,-1.463415,3.292683,-0.987805,-0.926829,-4.426829
680,IND,ATL,-4.256098,-0.848780,-0.347561,-0.382927,1.475610,3.243902,4.719512,-4.756098,1.463415,-0.170732,1.195122
424,CHI,WAS,-7.000000,-2.750000,-2.990244,5.028049,0.621951,1.341463,1.963415,-0.597561,0.573171,0.231707,-1.341463
861,TOR,BKN,2.756098,-1.260976,0.868293,2.578049,2.609756,1.768293,4.378049,0.280488,0.390244,-0.390244,1.280488
702,MIA,CHA,5.341463,5.841463,1.457317,2.460976,-1.817073,-3.987805,-5.804878,0.841463,-0.658537,2.463415,1.256098
368,IND,WAS,-3.914634,-1.074390,-2.018293,4.829268,-0.634146,3.146341,2.512195,-3.146341,0.841463,0.402439,0.000000
735,MIA,BKN,3.670732,4.220732,0.252439,0.906098,-1.146341,-0.121951,-1.268293,1.621951,0.682927,0.256098,-2.207317
530,MIA,IND,5.451220,5.179268,0.784146,-1.567073,-2.524390,-5.292683,-7.817073,2.390244,-0.963415,-0.304878,-0.963415
695,SAS,MIA,3.158537,-1.447561,3.293902,1.717073,1.646341,4.743902,6.390244,2.646341,0.646341,-0.390244,-1.231707

In [7]:
X_1314 = predict_1314.drop(['HOME', 'AWAY', 'PTS'], axis=1)

In [8]:
predictions_1314 = loaded_model.predict(X_1314)
predictions_1314

array([ 2.31331349, -3.32283122,  0.94311771,  0.01818079,  1.93099089,
        0.39505492,  3.97157543,  0.14062475, -1.88212342,  1.70726331,
        1.35986072, -1.06602795,  4.71583531,  2.64959228,  3.80678054])

In [9]:
score_prediction = pd.DataFrame(data=predictions_1314)

In [10]:
playoff_series_1314 = {'Home': ['SAS', 'HOU', 'LAC','OKC', 'SAS', 'LAC', 'SAS', 'IND', 'CHI', 'TOR', 'MIA', 'IND', 'MIA', 'IND', 'SAS'], 
                       'Away': ['DAL', 'POR', 'GSW', 'MEM', 'POR', 'OKC', 'OKC', 'ATL', 'WAS', 'BKN', 'CHA', 'WAS', 'BKN', 'MIA', 'MIA'],
                       'Series Result': ['SAS', 'POR', 'LAC', 'OKC', 'SAS', 'OKC', 'SAS', 'IND', 'WAS', 'BKN', 'MIA', 'IND', 'MIA', 'MIA', 'SAS'], 
                       'Round': [1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 2, 2, 3, 4],
                       'Game 1 Diff': [5, -2, -4, 14, 24, 17, 17, -8, -9, -7, 11, -6, 21, 11, 15]}

In [11]:
series_1314 = pd.DataFrame(data=playoff_series_1314)
series_1314

   Home Away Series Result  Round  Game 1 Diff
0   SAS  DAL           SAS      1            5
1   HOU  POR           POR      1           -2
2   LAC  GSW           LAC      1           -4
3   OKC  MEM           OKC      1           14
4   SAS  POR           SAS      2           24
5   LAC  OKC           OKC      2           17
6   SAS  OKC           SAS      3           17
7   IND  ATL           IND      1           -8
8   CHI  WAS           WAS      1           -9
9   TOR  BKN           BKN      1           -7
10  MIA  CHA           MIA      1           11
11  IND  WAS           IND      2           -6
12  MIA  BKN           MIA      2           21
13  IND  MIA           MIA      3           11
14  SAS  MIA           SAS      4           15

In [12]:
model_1314 = pd.concat([series_1314, score_prediction], axis=1, sort=True)
model_1314

   Home Away Series Result  Round  Game 1 Diff         0
0   SAS  DAL           SAS      1            5  2.313313
1   HOU  POR           POR      1           -2 -3.322831
2   LAC  GSW           LAC      1           -4  0.943118
3   OKC  MEM           OKC      1           14  0.018181
4   SAS  POR           SAS      2           24  1.930991
5   LAC  OKC           OKC      2           17  0.395055
6   SAS  OKC           SAS      3           17  3.971575
7   IND  ATL           IND      1           -8  0.140625
8   CHI  WAS           WAS      1           -9 -1.882123
9   TOR  BKN           BKN      1           -7  1.707263
10  MIA  CHA           MIA      1           11  1.359861
11  IND  WAS           IND      2           -6 -1.066028
12  MIA  BKN           MIA      2           21  4.715835
13  IND  MIA           MIA      3           11  2.649592
14  SAS  MIA           SAS      4           15  3.806781

In [13]:
model_1314.rename(columns = {list(model_1314)[5]: 'Score Prediction'}, inplace = True)
model_1314

   Home Away Series Result  Round  Game 1 Diff  Score Prediction
0   SAS  DAL           SAS      1            5          2.313313
1   HOU  POR           POR      1           -2         -3.322831
2   LAC  GSW           LAC      1           -4          0.943118
3   OKC  MEM           OKC      1           14          0.018181
4   SAS  POR           SAS      2           24          1.930991
5   LAC  OKC           OKC      2           17          0.395055
6   SAS  OKC           SAS      3           17          3.971575
7   IND  ATL           IND      1           -8          0.140625
8   CHI  WAS           WAS      1           -9         -1.882123
9   TOR  BKN           BKN      1           -7          1.707263
10  MIA  CHA           MIA      1           11          1.359861
11  IND  WAS           IND      2           -6         -1.066028
12  MIA  BKN           MIA      2           21          4.715835
13  IND  MIA           MIA      3           11          2.649592
14  SAS  MIA           SAS      4           15          3.806781

In [14]:
def diff(row):
    if row['Game 1 Diff'] > 0:
        val = 'Home'
    else:
        val = 'Away'
    return val

In [15]:
model_1314['Game 1 Result'] = model_1314.apply(diff, axis=1)
model_1314

   Home Away Series Result  Round  Game 1 Diff  Score Prediction Game 1 Result
0   SAS  DAL           SAS      1            5          2.313313          Home
1   HOU  POR           POR      1           -2         -3.322831          Away
2   LAC  GSW           LAC      1           -4          0.943118          Away
3   OKC  MEM           OKC      1           14          0.018181          Home
4   SAS  POR           SAS      2           24          1.930991          Home
5   LAC  OKC           OKC      2           17          0.395055          Home
6   SAS  OKC           SAS      3           17          3.971575          Home
7   IND  ATL           IND      1           -8          0.140625          Away
8   CHI  WAS           WAS      1           -9         -1.882123          Away
9   TOR  BKN           BKN      1           -7          1.707263          Away
10  MIA  CHA           MIA      1           11          1.359861          Home
11  IND  WAS           IND      2           -6         -1.066028          Away
12  MIA  BKN           MIA      2           21          4.715835          Home
13  IND  MIA           MIA      3           11          2.649592          Home
14  SAS  MIA           SAS      4           15          3.806781          Home

In [16]:
def diff_p(row):
    if row['Score Prediction'] > 0:
        val = 'Home'
    else:
        val = 'Away'
    return val

In [17]:
model_1314['Team Prediction'] = model_1314.apply(diff_p, axis=1)
model_1314

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction
0,SAS,DAL,SAS,1,5,2.313313,Home,Home
1,HOU,POR,POR,1,-2,-3.322831,Away,Away
2,LAC,GSW,LAC,1,-4,0.943118,Away,Home
3,OKC,MEM,OKC,1,14,0.018181,Home,Home
4,SAS,POR,SAS,2,24,1.930991,Home,Home
5,LAC,OKC,OKC,2,17,0.395055,Home,Home
6,SAS,OKC,SAS,3,17,3.971575,Home,Home
7,IND,ATL,IND,1,-8,0.140625,Away,Home
8,CHI,WAS,WAS,1,-9,-1.882123,Away,Away
9,TOR,BKN,BKN,1,-7,1.707263,Away,Home
10,MIA,CHA,MIA,1,11,1.359861,Home,Home
11,IND,WAS,IND,2,-6,-1.066028,Away,Away
12,MIA,BKN,MIA,2,21,4.715835,Home,Home
13,IND,MIA,MIA,3,11,2.649592,Home,Home
14,SAS,MIA,SAS,4,15,3.806781,Home,Home

In [18]:
def series(row):
    if row['Home'] == row['Series Result']:
        val = 'Home'
    else:
        val = 'Away'
    return val

In [19]:
model_1314['Series Actual'] = model_1314.apply(series, axis=1)
model_1314

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual
0,SAS,DAL,SAS,1,5,2.313313,Home,Home,Home
1,HOU,POR,POR,1,-2,-3.322831,Away,Away,Away
2,LAC,GSW,LAC,1,-4,0.943118,Away,Home,Home
3,OKC,MEM,OKC,1,14,0.018181,Home,Home,Home
4,SAS,POR,SAS,2,24,1.930991,Home,Home,Home
5,LAC,OKC,OKC,2,17,0.395055,Home,Home,Away
6,SAS,OKC,SAS,3,17,3.971575,Home,Home,Home
7,IND,ATL,IND,1,-8,0.140625,Away,Home,Home
8,CHI,WAS,WAS,1,-9,-1.882123,Away,Away,Away
9,TOR,BKN,BKN,1,-7,1.707263,Away,Home,Away
10,MIA,CHA,MIA,1,11,1.359861,Home,Home,Home
11,IND,WAS,IND,2,-6,-1.066028,Away,Away,Home
12,MIA,BKN,MIA,2,21,4.715835,Home,Home,Home
13,IND,MIA,MIA,3,11,2.649592,Home,Home,Away
14,SAS,MIA,SAS,4,15,3.806781,Home,Home,Home

In [20]:
def correct_g(row):
    if row['Game 1 Result'] == row['Team Prediction']:
        val = 'Yes'
    else:
        val = 'No'
    return val

In [21]:
def correct_s(row):
    if row['Series Actual'] == row['Team Prediction']:
        val = 'Yes'
    else:
        val = 'No'
    return val

In [22]:
model_1314['Game Correct'] = model_1314.apply(correct_g, axis=1)
model_1314

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct
0,SAS,DAL,SAS,1,5,2.313313,Home,Home,Home,Yes
1,HOU,POR,POR,1,-2,-3.322831,Away,Away,Away,Yes
2,LAC,GSW,LAC,1,-4,0.943118,Away,Home,Home,No
3,OKC,MEM,OKC,1,14,0.018181,Home,Home,Home,Yes
4,SAS,POR,SAS,2,24,1.930991,Home,Home,Home,Yes
5,LAC,OKC,OKC,2,17,0.395055,Home,Home,Away,Yes
6,SAS,OKC,SAS,3,17,3.971575,Home,Home,Home,Yes
7,IND,ATL,IND,1,-8,0.140625,Away,Home,Home,No
8,CHI,WAS,WAS,1,-9,-1.882123,Away,Away,Away,Yes
9,TOR,BKN,BKN,1,-7,1.707263,Away,Home,Away,No
10,MIA,CHA,MIA,1,11,1.359861,Home,Home,Home,Yes
11,IND,WAS,IND,2,-6,-1.066028,Away,Away,Home,Yes
12,MIA,BKN,MIA,2,21,4.715835,Home,Home,Home,Yes
13,IND,MIA,MIA,3,11,2.649592,Home,Home,Away,Yes
14,SAS,MIA,SAS,4,15,3.806781,Home,Home,Home,Yes

In [23]:
model_1314['Series Correct'] = model_1314.apply(correct_s, axis=1)
model_1314

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct,Series Correct
0,SAS,DAL,SAS,1,5,2.313313,Home,Home,Home,Yes,Yes
1,HOU,POR,POR,1,-2,-3.322831,Away,Away,Away,Yes,Yes
2,LAC,GSW,LAC,1,-4,0.943118,Away,Home,Home,No,Yes
3,OKC,MEM,OKC,1,14,0.018181,Home,Home,Home,Yes,Yes
4,SAS,POR,SAS,2,24,1.930991,Home,Home,Home,Yes,Yes
5,LAC,OKC,OKC,2,17,0.395055,Home,Home,Away,Yes,No
6,SAS,OKC,SAS,3,17,3.971575,Home,Home,Home,Yes,Yes
7,IND,ATL,IND,1,-8,0.140625,Away,Home,Home,No,Yes
8,CHI,WAS,WAS,1,-9,-1.882123,Away,Away,Away,Yes,Yes
9,TOR,BKN,BKN,1,-7,1.707263,Away,Home,Away,No,No
10,MIA,CHA,MIA,1,11,1.359861,Home,Home,Home,Yes,Yes
11,IND,WAS,IND,2,-6,-1.066028,Away,Away,Home,Yes,No
12,MIA,BKN,MIA,2,21,4.715835,Home,Home,Home,Yes,Yes
13,IND,MIA,MIA,3,11,2.649592,Home,Home,Away,Yes,No
14,SAS,MIA,SAS,4,15,3.806781,Home,Home,Home,Yes,Yes

In [26]:
game_count = model_1314.groupby(['Game Correct']).count()
game_count = game_count['Home']
game_count

Game Correct
No      3
Yes    12
Name: Home, dtype: int64

In [27]:
series_count = model_1314.groupby(['Series Correct']).count()
series_count = series_count['Home']
series_count

Series Correct
No      4
Yes    11
Name: Home, dtype: int64

In [28]:
playoff_series_1415 = {'Home': ['GSW', 'POR', 'LAC','HOU', 'GSW', 'HOU', 'GSW', 'ATL', 'TOR', 'CHI', 'CLE', 'ATL', 'CLE', 'ATL', 'GSW'], 
                       'Away': ['NOP', 'MEM', 'SAS', 'DAL', 'MEM', 'LAC', 'HOU', 'BKN', 'WAS', 'MIL', 'BOS', 'WAS', 'CHI', 'CLE', 'CLE'],
                       'Series Result': ['GSW', 'MEM', 'LAC', 'HOU', 'GSW', 'HOU', 'GSW', 'ATL', 'WAS', 'CHI', 'CLE', 'ATL', 'CLE', 'CLE', 'GSW'], 
                       'Round': [1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 2, 2, 3, 4],
                       'Game 1 Diff': [7, 14, 17, 10, 15, -16, 4, 7, -7, 12, 13, -6, -7, -8, 8]}

In [29]:
series_1415 = pd.DataFrame(data=playoff_series_1415)
series_1415

   Home Away Series Result  Round  Game 1 Diff
0   GSW  NOP           GSW      1            7
1   POR  MEM           MEM      1           14
2   LAC  SAS           LAC      1           17
3   HOU  DAL           HOU      1           10
4   GSW  MEM           GSW      2           15
5   HOU  LAC           HOU      2          -16
6   GSW  HOU           GSW      3            4
7   ATL  BKN           ATL      1            7
8   TOR  WAS           WAS      1           -7
9   CHI  MIL           CHI      1           12
10  CLE  BOS           CLE      1           13
11  ATL  WAS           ATL      2           -6
12  CLE  CHI           CLE      2           -7
13  ATL  CLE           CLE      3           -8
14  GSW  CLE           GSW      4            8

In [30]:
playoff_1415 = pd.read_csv('Plus_Minus_1415.csv')
playoff_1415.drop(playoff_1415.columns[0], axis=1, inplace=True)
playoff_1415.head()

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,ATL,BKN,4.524390,1.491463,5.295122,2.839024,-1.597561,-0.195122,-1.792683,4.817073,0.487805,0.414634,-1.487805
1,BKN,BOS,-3.341463,0.793902,0.101220,-0.862195,-0.780488,-0.707317,-1.487805,-3.573171,0.560976,0.000000,-1.939024
2,BOS,CHA,7.207317,2.369512,1.320732,0.917073,1.097561,-1.317073,-0.219512,4.329268,-1.878049,1.914634,2.975610
3,CHA,CHI,-6.634146,-2.254878,-4.060976,-3.431707,-1.695122,0.012195,-1.682927,-1.548780,-0.341463,-2.060976,-0.012195
4,CHI,CLE,-2.341463,-1.573171,-1.017073,3.679268,0.585366,2.195122,2.780488,-0.402439,1.658537,-0.317073,-0.182927

In [31]:
gsw_nop_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'GSW') & (playoff_1415['AWAY'] == 'NOP')]
por_mem_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'POR') & (playoff_1415['AWAY'] == 'MEM')]
lac_sas_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'LAC') & (playoff_1415['AWAY'] == 'SAS')]
hou_dal_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'HOU') & (playoff_1415['AWAY'] == 'DAL')]
gsw_mem_rd2 = playoff_1415.loc[(playoff_1415['HOME'] == 'GSW') & (playoff_1415['AWAY'] == 'MEM')]
hou_lac_rd2 = playoff_1415.loc[(playoff_1415['HOME'] == 'HOU') & (playoff_1415['AWAY'] == 'LAC')]
gsw_hou_rd3 = playoff_1415.loc[(playoff_1415['HOME'] == 'GSW') & (playoff_1415['AWAY'] == 'HOU')]
atl_bkn_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'ATL') & (playoff_1415['AWAY'] == 'BKN')]
tor_was_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'TOR') & (playoff_1415['AWAY'] == 'WAS')]
chi_mil_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'CHI') & (playoff_1415['AWAY'] == 'MIL')]
cle_bos_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'CLE') & (playoff_1415['AWAY'] == 'BOS')]
atl_was_rd2 = playoff_1415.loc[(playoff_1415['HOME'] == 'ATL') & (playoff_1415['AWAY'] == 'WAS')]
cle_chi_rd2 = playoff_1415.loc[(playoff_1415['HOME'] == 'CLE') & (playoff_1415['AWAY'] == 'CHI')]
atl_cle_rd3 = playoff_1415.loc[(playoff_1415['HOME'] == 'ATL') & (playoff_1415['AWAY'] == 'CLE')]
gsw_cle_rd4 = playoff_1415.loc[(playoff_1415['HOME'] == 'GSW') & (playoff_1415['AWAY'] == 'CLE')]

predict_1415 = pd.concat([gsw_nop_rd1, por_mem_rd1, lac_sas_rd1, hou_dal_rd1, gsw_mem_rd2,
                          hou_lac_rd2, gsw_hou_rd3, atl_bkn_rd1, tor_was_rd1, chi_mil_rd1,
                          cle_bos_rd1, atl_was_rd2, cle_chi_rd2, atl_cle_rd3, gsw_cle_rd4],
                        axis=0, sort=True)

predict_1415 = predict_1415[['HOME', 'AWAY', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK', 'TOV', 'PF']]
predict_1415

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
213,GSW,NOP,10.597561,2.071951,2.637805,1.924390,-1.085366,2.353659,1.268293,5.390244,-0.170732,1.195122,1.195122
674,POR,MEM,4.475610,-0.813415,2.486585,2.303659,0.280488,3.012195,3.292683,0.268293,0.304878,0.280488,-0.890244
311,LAC,SAS,3.536585,0.384146,1.067073,-7.021951,-0.268293,-0.743902,-1.012195,0.378049,-0.426829,-1.634146,2.256098
525,HOU,DAL,-1.292683,-1.881707,-0.056098,-3.843902,1.219512,0.195122,1.414634,-0.317073,0.439024,3.707317,1.939024
119,GSW,MEM,11.634146,1.990244,6.157317,-1.213415,-0.036585,2.195122,2.158537,5.743902,1.817073,1.109756,0.743902
39,HOU,LAC,-2.792683,-2.878049,-2.400000,0.646341,2.121951,-1.060976,1.060976,-2.573171,-0.024390,4.317073,0.658537
9,GSW,HOU,6.024390,3.451220,4.940244,4.946341,-1.280488,2.317073,1.036585,5.219512,1.085366,-2.207317,-2.134146
0,ATL,BKN,4.524390,1.491463,5.295122,2.839024,-1.597561,-0.195122,-1.792683,4.817073,0.487805,0.414634,-1.487805
56,TOR,WAS,5.451220,-0.870732,-1.056098,5.173171,0.231707,-3.353659,-3.121951,-3.268293,-0.256098,-2.146341,0.060976
268,CHI,MIL,2.951220,-1.756098,-1.024390,2.932927,1.012195,2.658537,3.670732,-1.841463,0.890244,-2.780488,-3.890244
494,CLE,BOS,1.768293,1.458537,3.757317,-1.164634,0.012195,-0.890244,-0.878049,-2.378049,0.560976,0.463415,-2.780488
434,ATL,WAS,4.012195,0.263415,1.841463,3.791463,-1.792683,-2.317073,-4.109756,1.731707,0.024390,-0.804878,-3.048780
439,CLE,CHI,2.341463,1.573171,1.017073,-3.679268,-0.585366,-2.195122,-2.780488,0.402439,-1.658537,0.317073,0.182927
110,ATL,CLE,-0.585366,0.826829,1.639024,3.141463,-2.390244,-0.012195,-2.402439,3.621951,0.487805,-0.048780,-0.646341
524,GSW,CLE,6.817073,2.031707,3.412195,2.228049,-0.707317,2.463415,1.756098,5.292683,1.902439,0.170732,1.439024

In [32]:
X_1415 = predict_1415.drop(['HOME', 'AWAY', 'PTS'], axis=1)

In [33]:
predictions_1415 = loaded_model.predict(X_1415)
predictions_1415

array([ 2.76369764,  1.48991025, -0.01237257, -6.22022805,  3.98586085,
       -7.69049951,  9.61927628,  3.02177896, -0.21984895,  3.8002245 ,
        1.85788914,  1.16353471, -0.32668271,  1.00233405,  4.21010117])

In [35]:
score_prediction_1415 = pd.DataFrame(data=predictions_1415)

In [36]:
model_1415 = pd.concat([series_1415, score_prediction_1415], axis=1, sort=True)
model_1415

   Home Away Series Result  Round  Game 1 Diff         0
0   GSW  NOP           GSW      1            7  2.763698
1   POR  MEM           MEM      1           14  1.489910
2   LAC  SAS           LAC      1           17 -0.012373
3   HOU  DAL           HOU      1           10 -6.220228
4   GSW  MEM           GSW      2           15  3.985861
5   HOU  LAC           HOU      2          -16 -7.690500
6   GSW  HOU           GSW      3            4  9.619276
7   ATL  BKN           ATL      1            7  3.021779
8   TOR  WAS           WAS      1           -7 -0.219849
9   CHI  MIL           CHI      1           12  3.800224
10  CLE  BOS           CLE      1           13  1.857889
11  ATL  WAS           ATL      2           -6  1.163535
12  CLE  CHI           CLE      2           -7 -0.326683
13  ATL  CLE           CLE      3           -8  1.002334
14  GSW  CLE           GSW      4            8  4.210101

In [37]:
model_1415.rename(columns = {list(model_1415)[5]: 'Score Prediction'}, inplace = True)
model_1415

   Home Away Series Result  Round  Game 1 Diff  Score Prediction
0   GSW  NOP           GSW      1            7          2.763698
1   POR  MEM           MEM      1           14          1.489910
2   LAC  SAS           LAC      1           17         -0.012373
3   HOU  DAL           HOU      1           10         -6.220228
4   GSW  MEM           GSW      2           15          3.985861
5   HOU  LAC           HOU      2          -16         -7.690500
6   GSW  HOU           GSW      3            4          9.619276
7   ATL  BKN           ATL      1            7          3.021779
8   TOR  WAS           WAS      1           -7         -0.219849
9   CHI  MIL           CHI      1           12          3.800224
10  CLE  BOS           CLE      1           13          1.857889
11  ATL  WAS           ATL      2           -6          1.163535
12  CLE  CHI           CLE      2           -7         -0.326683
13  ATL  CLE           CLE      3           -8          1.002334
14  GSW  CLE           GSW      4            8          4.210101

In [38]:
model_1415['Game 1 Result'] = model_1415.apply(diff, axis=1)
model_1415

   Home Away Series Result  Round  Game 1 Diff  Score Prediction Game 1 Result
0   GSW  NOP           GSW      1            7          2.763698          Home
1   POR  MEM           MEM      1           14          1.489910          Home
2   LAC  SAS           LAC      1           17         -0.012373          Home
3   HOU  DAL           HOU      1           10         -6.220228          Home
4   GSW  MEM           GSW      2           15          3.985861          Home
5   HOU  LAC           HOU      2          -16         -7.690500          Away
6   GSW  HOU           GSW      3            4          9.619276          Home
7   ATL  BKN           ATL      1            7          3.021779          Home
8   TOR  WAS           WAS      1           -7         -0.219849          Away
9   CHI  MIL           CHI      1           12          3.800224          Home
10  CLE  BOS           CLE      1           13          1.857889          Home
11  ATL  WAS           ATL      2           -6          1.163535          Away
12  CLE  CHI           CLE      2           -7         -0.326683          Away
13  ATL  CLE           CLE      3           -8          1.002334          Away
14  GSW  CLE           GSW      4            8          4.210101          Home

In [39]:
model_1415['Team Prediction'] = model_1415.apply(diff_p, axis=1)
model_1415

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction
0,GSW,NOP,GSW,1,7,2.763698,Home,Home
1,POR,MEM,MEM,1,14,1.489910,Home,Home
2,LAC,SAS,LAC,1,17,-0.012373,Home,Away
3,HOU,DAL,HOU,1,10,-6.220228,Home,Away
4,GSW,MEM,GSW,2,15,3.985861,Home,Home
5,HOU,LAC,HOU,2,-16,-7.690500,Away,Away
6,GSW,HOU,GSW,3,4,9.619276,Home,Home
7,ATL,BKN,ATL,1,7,3.021779,Home,Home
8,TOR,WAS,WAS,1,-7,-0.219849,Away,Away
9,CHI,MIL,CHI,1,12,3.800224,Home,Home
10,CLE,BOS,CLE,1,13,1.857889,Home,Home
11,ATL,WAS,ATL,2,-6,1.163535,Away,Home
12,CLE,CHI,CLE,2,-7,-0.326683,Away,Away
13,ATL,CLE,CLE,3,-8,1.002334,Away,Home
14,GSW,CLE,GSW,4,8,4.210101,Home,Home

In [40]:
model_1415['Series Actual'] = model_1415.apply(series, axis=1)
model_1415

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual
0,GSW,NOP,GSW,1,7,2.763698,Home,Home,Home
1,POR,MEM,MEM,1,14,1.489910,Home,Home,Away
2,LAC,SAS,LAC,1,17,-0.012373,Home,Away,Home
3,HOU,DAL,HOU,1,10,-6.220228,Home,Away,Home
4,GSW,MEM,GSW,2,15,3.985861,Home,Home,Home
5,HOU,LAC,HOU,2,-16,-7.690500,Away,Away,Home
6,GSW,HOU,GSW,3,4,9.619276,Home,Home,Home
7,ATL,BKN,ATL,1,7,3.021779,Home,Home,Home
8,TOR,WAS,WAS,1,-7,-0.219849,Away,Away,Away
9,CHI,MIL,CHI,1,12,3.800224,Home,Home,Home
10,CLE,BOS,CLE,1,13,1.857889,Home,Home,Home
11,ATL,WAS,ATL,2,-6,1.163535,Away,Home,Home
12,CLE,CHI,CLE,2,-7,-0.326683,Away,Away,Home
13,ATL,CLE,CLE,3,-8,1.002334,Away,Home,Away
14,GSW,CLE,GSW,4,8,4.210101,Home,Home,Home

In [41]:
model_1415['Game Correct'] = model_1415.apply(correct_g, axis=1)
model_1415

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct
0,GSW,NOP,GSW,1,7,2.763698,Home,Home,Home,Yes
1,POR,MEM,MEM,1,14,1.489910,Home,Home,Away,Yes
2,LAC,SAS,LAC,1,17,-0.012373,Home,Away,Home,No
3,HOU,DAL,HOU,1,10,-6.220228,Home,Away,Home,No
4,GSW,MEM,GSW,2,15,3.985861,Home,Home,Home,Yes
5,HOU,LAC,HOU,2,-16,-7.690500,Away,Away,Home,Yes
6,GSW,HOU,GSW,3,4,9.619276,Home,Home,Home,Yes
7,ATL,BKN,ATL,1,7,3.021779,Home,Home,Home,Yes
8,TOR,WAS,WAS,1,-7,-0.219849,Away,Away,Away,Yes
9,CHI,MIL,CHI,1,12,3.800224,Home,Home,Home,Yes
10,CLE,BOS,CLE,1,13,1.857889,Home,Home,Home,Yes
11,ATL,WAS,ATL,2,-6,1.163535,Away,Home,Home,No
12,CLE,CHI,CLE,2,-7,-0.326683,Away,Away,Home,Yes
13,ATL,CLE,CLE,3,-8,1.002334,Away,Home,Away,No
14,GSW,CLE,GSW,4,8,4.210101,Home,Home,Home,Yes

In [42]:
model_1415['Series Correct'] = model_1415.apply(correct_s, axis=1)
model_1415

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct,Series Correct
0,GSW,NOP,GSW,1,7,2.763698,Home,Home,Home,Yes,Yes
1,POR,MEM,MEM,1,14,1.489910,Home,Home,Away,Yes,No
2,LAC,SAS,LAC,1,17,-0.012373,Home,Away,Home,No,No
3,HOU,DAL,HOU,1,10,-6.220228,Home,Away,Home,No,No
4,GSW,MEM,GSW,2,15,3.985861,Home,Home,Home,Yes,Yes
5,HOU,LAC,HOU,2,-16,-7.690500,Away,Away,Home,Yes,No
6,GSW,HOU,GSW,3,4,9.619276,Home,Home,Home,Yes,Yes
7,ATL,BKN,ATL,1,7,3.021779,Home,Home,Home,Yes,Yes
8,TOR,WAS,WAS,1,-7,-0.219849,Away,Away,Away,Yes,Yes
9,CHI,MIL,CHI,1,12,3.800224,Home,Home,Home,Yes,Yes
10,CLE,BOS,CLE,1,13,1.857889,Home,Home,Home,Yes,Yes
11,ATL,WAS,ATL,2,-6,1.163535,Away,Home,Home,No,Yes
12,CLE,CHI,CLE,2,-7,-0.326683,Away,Away,Home,Yes,No
13,ATL,CLE,CLE,3,-8,1.002334,Away,Home,Away,No,No
14,GSW,CLE,GSW,4,8,4.210101,Home,Home,Home,Yes,Yes

In [43]:
game_count_1415 = model_1415.groupby(['Game Correct']).count()
game_count_1415 = game_count_1415['Home']
game_count_1415

Game Correct
No      4
Yes    11
Name: Home, dtype: int64

In [44]:
series_count_1415 = model_1415.groupby(['Series Correct']).count()
series_count_1415 = series_count_1415['Home']
series_count_1415

Series Correct
No     6
Yes    9
Name: Home, dtype: int64